@import '../../node_modules/vue-select/dist/vue-select.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.label {
  @apply text-gray-700;
  @apply block;
  @apply text-xs; 
  @apply uppercase; 
  @apply font-bold; 
  @apply mb-2;
}

.input {
  @apply appearance-none;
  @apply bg-gray-200;
  @apply block;
  @apply border;
  @apply w-full;
  @apply rounded;
  @apply py-3;
  @apply px-4;
  @apply leading-tight;
  @apply text-gray-700;
}

.input:focus {
  @apply outline-none;
  @apply bg-white;
  @apply border-gray-500;
}

.link-gray {
  @apply no-underline;
  @apply text-gray-700;
  @apply tracking-wider;
}

.link-gray:hover {
  @apply text-green-500;
}
.link-gray.selected {
  @apply text-green-600;
}

.button {
  @apply font-sans;
  @apply font-bold;
  @apply px-4;
  @apply rounded;
  @apply cursor-pointer;
  @apply no-underline;
  @apply bg-green-500;
  @apply block;
  @apply w-full;
  @apply py-4;
  @apply text-white;
  @apply items-center;
  @apply justify-center;
}

.button:hover {
  @apply bg-green-700;
}

.bread-bg {
  background-image: url(../assets/bread.jpg);
  @apply bg-cover;
}

.bakery-bg {
  background-image: url(../assets/bakery-bg.jpeg);
  @apply bg-cover;
  @apply py-12;
}

.bread-bg .text-holder {
  background: rgba(255, 255, 255, 0.85);
}

.wood-bg {
  background-image: url(../assets/wood-bg.jpeg);
  @apply bg-cover;
}

nav {
  z-index: 10;
}

nav.scrolled {
  @apply shadow-2xl;
  border-bottom: 0px;
}

.login-size {
  @apply max-w-sm;
}

.empty-cart {
  @apply text-4xl;
  @apply text-center;
  @apply text-gray-700;
  @apply p-32;
  @apply font-thin;
  @apply tracking-wider;
}

.nav-bar {
  @apply fixed;
  @apply flex;
  @apply w-full;
  @apply bg-white;
  @apply border-b;
  @apply items-center;
  @apply justify-between;
  @apply flex-wrap;
  @apply p-6;
  @apply m-auto;
  @apply top-0;
}

.nav-logo-text {
  @apply link-gray;
  @apply px-2;
  @apply uppercase;
  @apply tracking-widest;
  @apply text-xl;
}

.nav-item-center {
  @apply flex;
  @apply justify-center;
}

.cart-link {
  @apply link-gray;
  @apply px-4;
  @apply relative;
  @apply flex;
}

.cart-icon {
  @apply flex-1;
  @apply w-6;
  @apply h-8;
  @apply fill-current;
}

.nav-item-end {
  @apply flex;
  @apply justify-end;
  @apply align-middle;
  @apply block;
}

.cart-icon-red {
  @apply absolute;
  @apply right-0;
  @apply top-0;
  @apply rounded-full;
  @apply bg-red-400;
  @apply w-4;
  @apply h-4;
  @apply p-0;
  @apply m-0;
  @apply text-white;
  @apply font-mono;
  @apply text-sm;
  @apply leading-tight;
  @apply text-center;
}

.instagram-icon {
  @apply flex-1;
  @apply w-8;
  @apply h-8;
  @apply fill-current;
}

.icon-text {
  @apply text-xs;
  @apply text-gray-500;
  @apply font-thin;
}